#theme-footer{
  text-align: center;
  color: #fff;
  a{
    color: #86add2;
  }
  .container {
    #footer-links {
      #link-to-doc {
        color: #86add2;
      }
    }
    #copyright {
      text-align: center;
      p {
        a {
          color: #86add2;
        }
      }
    }
    #language-chooser {
      a {
        color: #86add2;
      }
    }
  }
}
