<div class="container">
  <% if profile.admins.include? user %>
     <%= link_to "Painel de Controle", "#{top_url}/myprofile/#{profile.identifier}" %>
  <%end%>
  <div id="copyright">
    <p><%= (_('This social network uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/')).html_safe %></p>
    <p><%= (_('This theme was developed by %s and is available in <a href="https://gitlab.com/dev-onda/ciberfeminista">Gitlab</a>') % link_to('Onda Digital Development Team', 'https://gitlab.com/dev-onda')).html_safe %></p>
  </div><!-- end id="copyright" -->
  <%= language_chooser(environment) %>
</div>
