@import url(../base/style.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/5.0.8/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

#site-title img {
  left:-22px;
  position:absolute;
  top:-30px;
}

#title-bar {
  background-color: gray;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}

/* Members list*/
.profile-members-tabs-container .ui-corner-all{
  padding-bottom: 10px;
}

#content #members-tab ul.profile-list-members,
#content #admins-tab ul.profile-list-admins{
  margin: 10px auto;
}

.common-profile-list-block .profile-image{
  height: auto;
}

.common-profile-list-block .profile-image img{
  max-height: 80px;
  max-width: 80px;
}

.box-1 .common-profile-list-block span{
  width: 84px;
}

.box-1 .common-profile-list-block span.fn {
  margin-top: 5px;
  height: 25px;
  width: 80px;
}

.action-profile-send_mail .send-mail-recipients {
  color: #888888;
  padding: 10px;
  width: 475px;
  line-height: 15px;
}

body {
  background: #cfb5da;
  color: #4e4646;
  font-family: "Roboto";
  box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px ;
  background-image: linear-gradient(to top, #581259, #cfb5da 130%);
}

#navigation {
  display: none;
}

#site-title {
  display: none;
}

#wrap-1 {
  width: 75%;
  #wrap-2 {
    width: 100%;
    background: #fbf6ec;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    padding-top: 10px;
    #user{
      a{
        text-decoration: none;
        i{
          display: none;
        }
      }
      input{
        display: none;
      }
    }
    #content{
      margin-top: 25px;
      #boxes{
        .blocks{
          .block-title {
            color: #581259;
            border-bottom: 2px solid #581259;
            a {
              color: #581259;
            }
          }
          .raw-html-block {
            ul {
              display: block;
              height: 60px;
              margin-top: -20px;
              background: #000;
              color: #ffe160;
              font-size: 16px;
              font-weight: bold;
              border-radius: 0 0 15px 15px;
              .root_nav{
                width: 18%;
                height: 35%;
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 20px;
                float: left;
                a {
                  color: #ffe160;
                  text-decoration: none;
                  padding-bottom: 20px;
                  font-family: "Roboto";
                }
                #branch_nav {
                  display: none;
                  border-radius: 0 0 15px 15px;
                }
                &:hover {
                  #branch_nav{
                    z-index: 10;
                    height: auto;
                    width: 15%;
                    margin-top: 15px;
                    display: block;
                    position: absolute;
                    float: left;
                    li {
                      list-style: none;
                      padding-bottom: 15px;
                      &:hover {
                       border-bottom: 1px solid #ffe160;
                      }
                      a {
                        text-decoration: none;
                        border: none;
                      }
                    }
                  }
                }
              }
            }
          }
          .members-block{
            display: none;
            box-shadow: 1px 1px 2px #aaa;
            width: 18%;
            float: right;
            border-radius: 10px;
            padding: 5px;
            position: relative;
            top: -515px;
            &:hover {
              width: 20%;
              z-index: 13;
              background: #fbf6ec;
            }
            img{
              border-radius: 30px;
              border: 3px solid #000;
            }
          }
          .highlights-block {
            .highlights-container {
              div {
                background-size: unset;
              }
            }
          }
        }
      }
      .main-content{
        border-style: none;
        box-shadow: none;
        .title {
          color: #581259;
          border-bottom: 2px solid #581259;
          a {
            color: #581259;
          }
        }
        #noticias {
          .blog-post{
            margin: 10px 0 0 0;
          }
        }
        .blog-posts{
          margin-top:40px;
          .blog-post{
            background:none;
            width: 75%;
            box-shadow: 1px 1px 2px #aaa;
            padding: 15px;
            margin: 15px auto;
            border-radius: 10px;
            &:hover {
              width: 77%;
              font-size: 16px;
              background-color: #fbf6ec;
              .title {
                font-size: 25px;
              }
            }
          }
          .read-more {
            a {
              color: #581259;
            }
          }
        }
      }
    }
  }
}

#footer {
  @import 'footer';
}
